{
    "root": true,
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "prettier"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["pages", "public", "server", "src"],
                "extensions": [".js", ".jsx", ".ts", ".d.ts", ".tsx"]
            }
        }
    },
    "rules": {
        "import/order": "off",
        "jsx-a11y/anchor-is-valid": [
            "error",
            {
                "components": ["Link"],
                "specialLink": ["hrefLeft", "hrefRight"],
                "aspects": ["invalidHref", "preferButton"]
            }
        ],
        "react/react-in-jsx-scope": "off",
        "react/static-property-placement": "warn"
    },
}
