{
    "root": true,
    "extends": ["airbnb-base", "prettier"],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"],
                "extensions": [".js", ".jsx", ".ts", ".d.ts", ".tsx"]
            }
        }
    },
    "rules": {
        "import/order": "off",
        "camelcase": [
            "error",
            {
                "ignoreDestructuring": true
            }
        ]
    }
}
